// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-me {
  margin: 5% auto;
  width: 268px;
}

header {
  // visibility: hidden;
}

input.btn-primary.btn-lg.btn-block {
    margin: 1em 0;
  
}
